<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist App</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- href must matched with the StripPrefix from ./main.go -->
</head>

<body>
    <aside class="aside-infos">
        Connected as XXX
    </aside>
    <h1 class="main-title"><span class="keyword">Todo</span> List</h1>

    {{if .Errors.IsError}}
        <p class="error">{{.Errors.ErrorMessage}}</p>
    {{end}}
    

    <!-- FORM -->
    <form method="post" class="form">
        <label for="inputTask" class="form-label">
            <input type="text" id="inputTask" name="input_task" placeholder="New task ..." class="form-input" title="Add new task">
        </label>
        <button type="submit" class="form-btn-submit">Add</button>
    </form>

    <!-- TODOLIST -->
    <div class="container-todolist">
        <p class="instructions">Click on the <strong class="keyword">done</strong> tasks.</p>
        <ol class="todolist">
            {{range .Todos}}
            <li class="todolist-item {{if .Done}} done{{else}}{{end}}">{{.Id}} - {{.Title}}</li>
            {{end}}
        </ol>
    </div>

    <footer class="footer">
        <p class="footer-p">&copy; 2024 - Loick Cherimont</p>
    </footer>

</body>

</html>